* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightgrey: rgb(175, 174, 174);
    --darkgrey: rgb(66, 66, 66);
    --grey: grey;
}


html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow-y: hidden;
    
    
}

ul {
    list-style: none;
    
}

ul li {
    display: inline-block;
}

/* UTILITY */

.flex {
    display: flex;
}

.btn {
    padding: .2em .4em;
    background-color: var(--lightgrey);
}


/* Header */


.header-top-page {
    width: 100%;
    height: 4rem;
    background-color: black;
    justify-content: flex-end;
    font-size: .8rem;
}


.btn-header {
    margin: auto .3em;
}

.btn-header .fa-th {
    color: white;
    padding-right: .4em;
}


/* main */


.content-main {
    background-color: black;
    overflow-y: auto;
    height: calc(100vh - 4rem - 6rem);
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    min-width: 400px;
    margin: auto;
}

.container-img{
    width: 300px;
    height: 250px;
    background-image: url(https://picsum.photos/300/250);
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}


.user-mic {
    background-color: rgba(128, 128, 128, .6);
    padding: .4em;
    width: max-content;
    
}


/* footer */


.footer-bottom-page{
    background-color: var(--darkgrey);
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-page i{
    font-size: 2rem;
}


.footer-bottom-page li {
    text-align: center;
    padding: .5em;
}

.btn-footer-bottom-page {
    height: 100%;
    align-items: center;
    color: red;
    background-color: var(--grey);
}

.footer-bottom-page .fa-chevron-up {
    font-size: .8rem;
}



/* header{
    height: 2rem;
}


main{
    height: calc(100vh - 2rem -4rem);

}

footer{
    height: 4rem;
} */